<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Karigor - Portfolio Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/icon.png}">

	<!-- Google font (font-family: 'Dosis', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
	
	<!-- Plugins -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/plugins.css}">

	<!-- Style Css -->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Custom Styles -->
	<link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header">
			<div class="container">
				<div class="header-inner d-none d-lg-flex">
					<div class="header-logo">
						<a href="index.html">
							<img th:src="@{/img/logo/logo-dark.png}" alt="logo">
						</a>
					</div>
					<div class="header-navigation">
						<button class="header-navigation-trigger">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="main-navigation">
                            <ul>
                                <li>
                                    <a th:href="@{/users/main.html}">主页</a>
                                </li>
                                <li><a th:href="@{/users/about.html}">关于我们</a></li>
                                <li><a th:href="@{/users/search.html}">图书资源</a></li>
                                <li><a th:href="@{/mess/messlist}">馆内公告</a></li>
                                <li th:if="${session.user}!=null">
                                    <a th:text="${session.user.uname}">登录</a>
                                    <ul>
                                        <li><a th:href="@{/users/getSale.html}">我的订单</a></li>
                                        <li th:if="${session.user.mail}==null">
                                            <a th:href="@{/users/setMail.html}">绑定邮箱</a>
                                        </li>
                                    </ul>
                                </li>
                                <li th:if="${session.user}==null">
                                    <a th:href="@{/users/login.html}">登录</a>
                                </li>
                            </ul>
						</nav>
					</div>
				</div>
				<div class="mobile-menu-wrapper d-block d-lg-none">
					<div class="mobile-menu clearfix">
						<a href="index.html" class="mobile-logo">
							<img th:href="@{/img/logo/logo-dark.png}" alt="mobile logo">
						</a>
					</div>
				</div>
			</div>
		</header>
		<!--// Header -->

        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area bg-grey">
            <div class="container">
                <div class="cr-breadcrumb">
                    <h2>公告列表</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Blog Area -->
            <div class="cr-section blog-area section-padding-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-12">
                            <div class="row">

                                <!-- Single Blog -->
                                <div class="col-xl-6 col-lg-12 col-md-6 col-12" th:each="mess:${messList}">
                                    <article class="blog-item sticky">
                                        <header class="blog-item-header">
                                            <a th:href="@{'/mess/getMess/'+${mess.mesId}}">
                                                <img th:src="@{/img/blog/blog-image-1.jpg}" alt="blog thumb">
                                            </a>
                                        </header>
                                        <div class="blog-item-body">
                                            <h6 class="blog-item-title"><a th:href="@{'/mess/getMess/'+${mess.mesId}}" th:text="${mess.mesTitle}"></a></h6>
                                        </div>
                                        <footer class="blog-item-footer">
                                            <ul class="blog-item-meta">
                                                <li><i class="fa fa-user-o"></i>By <a th:text="${mess.mesBy}">Admin</a></li>
                                                <li><i class="fa fa-calendar-o"></i><span th:text="${#dates.format(mess.mesTime,'yyy-MM-dd')}"></span></li>
                                                <li><i class="fa fa-comments-o"></i><a href="#">3 Comments</a></li>
                                            </ul>
                                        </footer>
                                    </article>
                                </div>
                                <!--// Single Blog -->
        

        
                            </div>
                            <div class="cr-pagination mt-4 text-center">
                                <ul>
                                    <li><a th:href="@{'/mess/messlist/1'}"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li th:each="i:${#numbers.sequence(1,messNum)}"><a th:href="@{'/mess/messlist/'+${i}}" th:text="${i}"></a></li>
                                    <!--<li><a href="blog.html">2</a></li>-->
                                    <!--<li><a href="blog.html">3</a></li>-->
                                    <!--<li><a href="blog.html">...</a></li>-->
                                    <!--<li><a href="blog.html">10</a></li>-->
                                    <li><a th:href="@{'/mess/messlist/'+${messNum}}"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-12 sticky-sidebar-active">
                            <div class="widgets">

                                <!-- Single Widget -->
                                <section class="single-widget widget-search">
                                    <h5 class="widget-title">SEARCH</h5>
                                    <form th:action="@{/mess/searchMess}">
                                        <input type="text" placeholder="Search..." name="mess">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </section>
                                <!--// Single Widget -->

                                <!-- Single Widget -->
                                <section class="single-widget widget-categories">
                                    <h5 class="widget-title">CATEGORIES</h5>
                                    <ul>
                                        <li th:each="mess:${messlist2}"><a th:href="@{/mess/messlistBy(mesBy=${mess.mesBy})}" th:text="${mess.mesBy}">Web Design <span th:text="${mess.mesId}">14</span></a></li>
                                    </ul>
                                </section>
                                <!--// Single Widget -->

                                <!-- Single Widget -->
                                <section class="single-widget widget-related-post">
                                    <h5 class="widget-title">RELATED POST</h5>
                                    <ul>
                                        <li th:each="mess:${messlist1}">
                                            <div class="image">
                                                <a th:href="@{'/mess/getMess/'+${mess.mesId}}">
                                                    <img th:src="@{/img/blog/thumbnail/blog-image-1.jpg}" alt="blog thumb">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6><a th:href="@{'/mess/getMess/'+${mess.mesId}}" th:text="${mess.mesTitle}">Proin faucibus massa vel tristique</a></h6>
                                                <span th:text="${#dates.format(mess.mesTime,'yyy-MM-dd')}">June 25, 2015</span>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                <!--// Single Widget -->



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Blog Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-white">
			<div class="container">
				<ul class="footer-inner">
                    <li>著作権 © 2019 樊可</li>
                    <li><a href="http://sasuke.club/">悲伤的桔子树</a></li>
				</ul>
			</div>
		</footer>
		<!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>



</html>