 <!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Karigor - Portfolio Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/icon.png}">

    <!-- Google font (font-family: 'Dosis', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins.css}">

    <!-- Style Css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header">
			<div class="container">
				<div class="header-inner d-none d-lg-flex">
					<div class="header-logo">
						<a href="index.html">
							<img th:src="@{/img/logo/logo-dark.png}" alt="logo">
						</a>
					</div>
					<div class="header-navigation">
						<button class="header-navigation-trigger">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="main-navigation">
                            <ul>
                                <li>
                                    <a th:href="@{/users/main.html}">主页</a>
                                </li>
                                <li><a th:href="@{/users/about.html}">关于我们</a></li>
                                <li><a th:href="@{/users/search.html}">图书资源</a></li>
                                <li><a th:href="@{/mess/messlist}">馆内公告</a></li>
                                <li th:if="${session.user}!=null">
                                    <a th:text="${session.user.uname}">登录</a>
                                    <ul>
                                        <li><a th:href="@{/users/getSale.html}">我的订单</a></li>
                                        <li th:if="${session.user.mail}==null">
                                            <a th:href="@{/users/setMail.html}">绑定邮箱</a>
                                        </li>
                                    </ul>
                                </li>
                                <li th:if="${session.user}==null">
                                    <a th:href="@{/users/login.html}">登录</a>
                                </li>
                            </ul>
						</nav>
					</div>
				</div>
				<div class="mobile-menu-wrapper d-block d-lg-none">
					<div class="mobile-menu clearfix">
						<a href="index.html" class="mobile-logo">
							<img th:src="@{/img/logo/logo-dark.png}" alt="mobile logo">
						</a>
					</div>
				</div>
			</div>
		</header>
		<!--// Header -->

        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area bg-grey">
            <div class="container">
                <div class="cr-breadcrumb">
                    <h2>AWESOME RACING CAR</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li>Portfolio Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Portfolio Details Area -->
            <div class="cr-section portfolio-details-area section-padding-lg bg-white">
                <div class="container">
                    <div class="portfolio-details-images" style="text-align: center">
                        <img th:src="${book.image}"  alt="Portfolio Details Image">
                    </div>
                    <div class="row section-padding-top-sm">
                        <div class="col-lg-4">
                            <div class="portfolio-details-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i><span>作者:</span><span th:text="${book.author}"></span> </li>
                                    <li><i class="fa fa-calendar"></i><span>出版社:</span><span th:text="${book.publisher}"> HTML5 / WP / CSS3</span></li>
                                    <li><i class="fa fa-coffee"></i><span>分类:</span><span th:text="${book.tag}"> HTML5 / WP / CSS3</span></li>
                                    <li><i class="fa fa-link"></i><span>订阅图书:</span> <a href="#" th:text="${book.url}">HasTech</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="portfolio-details-info">
                                <h3 class="small-title-fullwidth"><span>图书介绍</span></h3>
                                <h5 class="portfolio-title"  th:text="${book.title}"></h5>
                                <p th:text="${book.summary}"></p>
                                <div class="post-share">
                                    <h6>Share:</h6>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Portfolio Details Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-white">
			<div class="container">
				<ul class="footer-inner">
                    <li>著作権 © 2019 樊可</li>
                    <li><a href="http://sasuke.club/">悲伤的桔子树</a></li>
				</ul>
			</div>
		</footer>
		<!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>



</html>